html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face{
    font-family:"DMSans-Regular";
    src: local("DMSans-Regular"),
     local("DMSans-Regular"),
     url("DMSans-Regular.ttf") format("truetype");
}

*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0 auto;
    background-color: #E7F0EF;
}

/* ************************************ header ************************************************* */
.wp{
    position: fixed;
    width: 59.325px;
    height: 60px;
    bottom: 30px;
    left: 38px;
}

.header{
    padding: 0px 20px 0 120px;
    background: #FFF;
    float: left;
    width: 100%;
}
.header .bos{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
}
 
    .header .atlasko{
        width: 238px;
        float: left;
        padding: 25px;
        border-radius: 0px 0px 30px 30px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        left: 0;
    }

    .header .linko{
        width: 60%;
        float: left;

    }
        .header .linko ul{
            float: left;
            list-style-type: none;
            margin-top: 24px;
           
        }

        .header .linko ul li {
            float: left;
            color: var(--foundation-black-b-500, #4A4A4A);
             
            font-family:"DMSans-Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
            letter-spacing: -0.36px;
            margin: 0;
            padding: 0;
            height: 50px;
            
        }
            .header .linko ul li a{
                padding: 20px;
                color: var(--foundation-black-b-500, #4A4A4A);
            }


            
 .header .right{
        float: right;
        width: 20%;
        margin-top: 24px;
    }


    .header .right button  {
        height: 32px;
        padding: 8px 85px;
        margin-right: 50px;
        border-radius: 30px;
        box-shadow: 0px 6px 10px -1px rgba(191, 145, 53, 0.00);
        background: #FFF;
        margin: 0;
    }

        
    .header .right .lang{
        color: var(--foundation-primary-p-500, #34837C);
        font-feature-settings: 'ss04' on, 'salt' on, 'liga' off;
        font-family:"DMSans-Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.14px;
        padding-right: 8px;
        padding-top: 5px;
        float: right;
    }

        .header .right .lang.tr{
            color: #06403B;
        }
/* ***************************************************************************** */
/* -------------------------------- el  koruyucu --------------------------------- */
.elko{ 
    float: left;
    width: 100%;
    height: 323.5px;
    flex-shrink: 0;
}
    .elko .rec{
        width: 100%;
        z-index: 1;

    }

    .elko .hey{
        position: absolute;
        top: 120px;
        left: 120px;
    }

        .elko .hey a{
            color: var(--foundation-primary-p-50, #E7F0EF);
            text-align: center;
            background-color: #71A8A3;
            font-family:"DMSans-Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
            letter-spacing: -0.36px;
            height: 40px;
            padding: 8px 20px;
            margin-top: 100px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            box-shadow: 0px 6px 10px -1px rgba(191, 145, 53, 0.00);
        }
            .elko .hey a img{
                float: left;
                padding-right: 12px;
                width: 28px;
                height: 32px;
            }

        

        .elko .hey .middle {
            position: relative;
            width: 1200px;
    /* bu ortalama özelliği , uzunluk vermezse işe yaramaz */
            left: 50%;
            transform: translate(-50%, 0);
        }
                .elko .hey .middle .headerE{
                    color: #FFF;
                    text-align: center;
                    font-family:"DMSans-Regular";
                    font-feature-settings: 'ss02' on, 'ss01' on, 'salt' on;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 54px; /* 100% */
                    letter-spacing: -1.32px;
                }

                .elko .hey .middle .litheader{
                    color: #FFF;
                    text-align: center;
                    font-family:"DMSans-Regular";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 177.778% */
                    letter-spacing: -0.36px;
                }


/* ************************************************************************************* */
/* ------------------------filterssssssssssss-------------------------------------- */
.general{
    float: left;
    position: relative;
    width: 1224px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 200px;
}

    .general .headerFil{
        color: #000;
        font-family:"DMSans-Regular";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 116.667% */
        letter-spacing: -0.44px;
        padding-bottom: 10px;
    }

    .general .filters{
        
    }

        .general .filters form{
            width: 311px;
            height: 50px;
            float: left;
            margin-bottom: 40px;
            padding: 8px 20px;
            align-items: center;
            border-radius: 70px;
            background: #FFF;
            box-shadow: 0px 6px 10px -1px rgba(191, 145, 53, 0.00);
            color: var(--foundation-primary-p-300, #0A6961);
            font-family:"DMSans-Regular"; 
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
            letter-spacing: -0.36px;

        }


            .general .filters .marka{
                margin: 0 20px;
            }
                .general .filters form select option div{
                     
                }
                .general .filters form select  {
                    color: #0A6961;
                    width: 250px;
                }




/* ************************************************************************** */
/* ----------------------------containerssssss--------------------------------- */

.general .container{
    width: 280px;
    height: 420px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 14px;
    background: #FFF;
    float: left;
}
    .general .container.one{
     margin-right: 26px;
    }

    .general .container.orta{
         margin-right: 26px;
    }

            .general .container img{
                width: 241.218px;
                height: 241.157px;
                margin-bottom: 20px;
            }

            .general .container .etiket{
                color: var(--foundation-primary-p-200, #34837C);
                font-feature-settings: 'ss04' on, 'salt' on, 'liga' off;
                font-family:"DMSans-Regular";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 160%; /* 16.8px */
            }

            .general .container .kod{
                color: var(--foundation-black-b-500, #4A4A4A);
                font-feature-settings: 'ss04' on, 'salt' on, 'liga' off;
                font-family:"DMSans-Regular";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 160%; /* 16.8px */
            }

            .general .container .bilgi{
                width: 244px;
                height: 63px;
                overflow: hidden;
                color: var(--foundation-black-b-500, #4A4A4A);
                text-overflow: ellipsis;
                whitespace: nowrap;
                font-family:"DMSans-Regular";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
                letter-spacing: -0.36px;
            }










/* ******************************************************************* */
/* -----------------------------footer----------------------------- */
footer{
    width: 100%;
    height: 550px;
    float: left;
    background: var(--foundation-primary-p-50, #E7F0EF);
}
    footer .destek{
        position: absolute;
        float: left;
        border-radius: 28px;
        background: linear-gradient(341deg, #0A6961 0%, #71A8A3 0%, #71A8A3 0%, #34837C 99.99%);
        width: 943px;
        height: 130px;
        padding: 30px 60px;
        margin-left:  248px;
        z-index: 2;

    }
        footer .destek  .headp{
            float: left;
            width: 59px;
            height: 59px;
            margin-right: 45px;
        
        }
        footer .destek .ara{
            width: 440px;
            height: 15px;
        }
       

            footer .destek  .ara .asis{
                
                color: #FFF;
                font-family:"DMSans-Regular";
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 116.667% */
                letter-spacing: -1.44px;
            }

            footer .destek .ara .no{
                color: #FFF;
                font-family:"DMSans-Regular";
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 42px; /* 100% */
                letter-spacing: -2.94px;
            }

            footer .destek button{
                float: right;
                height: 50px;
                padding: 8px 20px;
                justify-content: center;
                align-items: center;
                color: #ECEDF8;
                text-align: center;
                font-family:"DMSans-Regular";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
                letter-spacing: -0.36px;
                border-radius: 30px;
                border: 2px solid var(--foundation-primary-p-100, #95c0bc);
                box-shadow: 0px 6px 10px -1px rgba(191, 145, 53, 0.00);
                background:#71A8A3 ;
            }

/* ************************ menu ******************************* */
footer .menu{
    position: relative;
    float: left;
    width: 1149px;
    height: 480px;
  
    padding-top: 165px;
    padding-left: 73px;
    border-radius: 30px;
    background: var(--foundation-primary-p-500, #06403B);
    z-index: 1;
    top: 50px;
    left: 160px;
}

    footer .menu .imgsss {
        float: left;
        width: 30%;
        height: 250px;
        padding-left: 40px;  
    }

        footer .menu .imgsss .social{
            padding-left: 20px;
        }

            footer .menu .imgsss .social img{
                width: 28px;
                height: 28px;
                transform: rotate(-0.102deg);
                margin-right: 20px;
            }

        footer .menu .imgsss #atlasko2{
            width: 222px;
            height: 75px;
        }


    footer .menu .iletisim {
        float: left;
        padding-left: 90px ;
        padding-bottom: 50px;
    }
        footer .menu .iletisim .baslik{
            font-family:"DMSans-Regular";
            color: #FFF;
            width: 0px;
            padding-bottom: 20px;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 116.667% */
            letter-spacing: -1.44px;
        }

        footer .menu .iletisim .a{
            color: #FFF;
         
            font-family:"DMSans-Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 200;
            line-height: 32px;
            letter-spacing: -0.36px;
        }

        footer .menu .iletisim .a div{
            margin-top: 20px;
        }

    footer .menu .hizlimenu{
        float: right;
        padding-right: 210px;
        
    }
        footer .menu .hizlimenu .baslikM{
            color: #FFF;
            font-family:"DMSans-Regular";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 116.667% */
            letter-spacing: -1.44px;
        }

        footer .menu .hizlimenu a{
            color: #FFF;
            font-family:"DMSans-Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 200;
            line-height: 52px;
            letter-spacing: -0.36px;
            padding-top: 20px;
        }


 /* **************************************************************************  */
 /* -------------------------------------made------------------------------- */
 .sent{
    float: left;
    width: 100%;
    height: 30px;
    background: var(--foundation-primary-p-50, #E7F0EF);
    font-family:"DMSans-Regular";
    color: #4A4A4A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.36px;
     
    
 }