html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face{
    font-family:"DMSans-Light";
    src: local("DMSans-Light"),
     local("DMSans-Light"),
     url("DMSans-Light.ttf") format("truetype");
}

@font-face{
    font-family:"novaSemiBold";
    src: local("novaSemiBold"),
     local("novaSemiBold"),
     url("novaSemiBold.ttf") format("truetype");
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin: 0 auto;
    background: var(--color, #FFF);
    
}


/* ******************************************************************************* */
/* ---------------------------------------header----------------------------------- */


.headerBody1{
    width: 100%;
   float: left;
}

    
    .headerBody1 .baslik{
        width: 590px;
        height: 150px;
        margin: 0 auto;
        text-align: center;
    }

        .headerBody1 .baslik img{
            width: 250px;
            height: 120px; 
            /* border-radius: ; */
             float:left;
        }

        .headerBody1 .baslik .links{
            width: 340px;
            height: 110px;
            margin-top: 15px;
            float: left;
            text-align: center;
          
        }
            .headerBody1 .baslik .links ul  {
                    float: left;
                    margin-left: 95px;
                }

                    .headerBody1 .baslik .links ul li img{
                       width: 20px;
                       height: 20px; 
                    }
                .headerBody1 .baslik .links  .lis {
                    float: left;
                  
                }

                .heck{
                    color:  green;
                    font-size: 30px;
                    font-family:"novaSemiBold";
                    float: left;
                  }

                  .heck:hover{
                    color: rgb(125, 159, 118);
                    
                  }
 
    .guncelleBut{
    background-color: rgb(154, 193, 187);
    }






